[workspace]
name = "silen_blog"
version = "2.1"
description = "source code for silen's blog now with multi-language support"
authors = ["Sylens Wong <qiumin14@163.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "linux-aarch64"]

[feature.blog.target.linux-64.tasks]
install_hexo = {cmd ="npm install -g hexo-cli"}
deploy_cn = {cmd = "npm install", cwd = "blog_cn", env = {PATH = "$PWD/.pixi/envs/blog/bin:$PATH" }, depends-on = ['install_hexo']}
deploy_en = {cmd = "npm install", cwd = "blog_en", env = {PATH = "$PWD/.pixi/envs/blog/bin:$PATH" }, depends-on = ['install_hexo']}

[feature.blog.target.linux-aarch64.tasks]
install_hexo = "npm install -g hexo-cli && sed -i '34s/distro\\[1\\]/distro/' $PWD/.pixi/envs/blog/lib/node_modules/hexo-cli/dist/console/version.js"
deploy_cn = {cmd = "npm install --python=$PWD/../.pixi/envs/blog/bin/python2", cwd = "blog_cn", depends-on = ['install_hexo']}
deploy_en = {cmd = "npm install --python=$PWD/../.pixi/envs/blog/bin/python2", cwd = "blog_en", depends-on = ['install_hexo']}

[environments]
aider = ['aider']
blog = ['blog']

[feature.blog.dependencies]
nodejs = "18.*"
python = "3.*"
jieba = "*"
git = ">=2.39.1,<3"

[feature.blog.target.linux-aarch64.dependencies]
make = "*"
gcc = "*"
gxx = "*"

[feature.blog.tasks]
install = {cmd = 'pixi install -a'}
fix_cn = {cmd = "git apply blog_cn.patch", depends-on = ['install_hexo']}
fix_en = {cmd = "git apply blog_en.patch", depends-on = ['install_hexo']}
deploy = {cmd = 'echo "Deploy done"', depends-on = ["install", "deploy_cn", "deploy_en", "fix_cn", "fix_en"], outputs = ["blog_cn/node_modules", "blog_en/node_modules"]}

build_cn = {cmd = 'hexo clean && hexo g', cwd = "blog_cn" }
build_en = {cmd = 'hexo clean && hexo g', cwd = "blog_en" }
build = {cmd = 'mkdir -p blog_cn/public/en && cp -r blog_en/public/* blog_cn/public/en',  depends-on = ["build_cn", "build_en"]}
demo = {cmd = 'hexo s', cwd = "blog_cn"}
publish = {cmd = 'hexo d', cwd = "blog_cn"}
new = { cmd = 'hexo new {{title}}', args = ["title"], cwd = "blog_cn"}

[feature.aider.dependencies]
python = "3.12.*"

[feature.aider.pypi-dependencies]
aider-chat = "*"

[feature.aider.tasks]
trans = { cmd = 'bash aider.sh'}
commit = { cmd = 'aider --commit'}
